<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/9418bb6a-c450-4952-96b4-18c2aa4d8c00/resourceGroups/cmrcapg-rg/providers/Microsoft.Web/sites/PublishDemo</ResourceId>
    <ResourceGroup>cmrcapg-rg</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://publishdemo.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://publishdemo.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$PublishDemo</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>